<h1>Welcome to Slope-Side-Sales!</h1>
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<%= image_tag "cb.png" %>

<p>Please Login or Sign Up to Access our Sweet Slope Side Deals</p>

<%= form_tag login_path, {class: 'ui form'} do %>
  <%= label_tag :username %>
  <div class="field">
    <%= text_field_tag :username %>
  </div>
  <%= label_tag :password %>
  <div class="field">
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag 'Login', {class: 'ui medium pink button inverted'} %>
<% end %>
