<h1>Edit your listing!</h1>
<%= form_for @listing do |f|%>
<%= f.label :title, "Add a title:" %>
<%= f.text_field :title %>
<%= f.label :description, "Describe your thing!" %>
<%= f.text_field :description %>
<%= f.label :price %>
<%= f.number_field :price, {step: 0.01} %>
<%= f.submit "Edit your listing" %>
<% end %>
