<h1>Listings</h1>
 <table class="table table-striped">
  <thead>
   <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th colspan="3"></th>
   </tr>
  </thead>
  <tbody>
    <%if flash[:message] %>
    <td><%= flash[:message] %></td>
    <% end %>
   <% @listings.each do |listing| %>
    <tr>
     <td><%= listing.title %></td>
     <% if listing.image_url %>
     <td><%= listing.description %> <%= image_tag listing.image_url %></td>
     <% else %>
     <td><%= listing.description %></td>
       <% end %>
     <td><%= listing.price %></td>
     <td><%= button_to 'Show', listing_path(listing), {method: :get} %></td>
     <% if listing.user_id == session[:user_id] %>
     <td><%= button_to 'Edit', edit_listing_path(listing), {method: :get} %></td>
     <td>
       <%= button_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
     </td>
     <% end %>
    </tr>
   <% end %>
  </tbody>
 </table>
 <% if Cart.find_by(user_id: session[:user_id]) %>
 <%= button_to "Check out Cart", cart_path(session[:user_id]), {method: :get}%>
 <% end %>
 <br>
 <%= button_to "Create new listing?", new_listing_path, method: :get%>
