<h1>Make a new Listing!</h1>
<%= form_for @listing do |f|%>
<%= f.label :title, "Add a title:" %>
<%= f.text_field :title %>
<%= f.label :description, "Describe your thing!" %>
<%= f.text_field :description %>
<%= f.submit "Make a listing" %>
<% end %>
