<div class="center jumbotron">
<h3><%= @listing.title %></h3>
Description: <br>
<%= @listing.description %><br>
<p><%= @listing.price %></p><br>
<p><%= form_tag "/add_to_cart" do %>
<% text_field_tag value = @listing.id %>
<%= submit_tag "Add to Cart"%>
<% end %></p>
<% if @listing.user_id == session[:user_id] %>
<p><%= button_to "Edit your listing", edit_listing_path, {method: :get} %></p>
<% end %>
<p><%= button_to "Return to Listings", listings_path, {method: :get} %></p>
<%= form_tag new_comment_path do %>
<%= label_tag :message, "Leave a comment:" %><br>
<%= text_area_tag :message %><br>
<%= submit_tag "Submit comment" %>
<% end %>
</div>

<h2>Comments:</h2>
<ul>
<% if flash[:comment_message] %>
  <%= flash[:comment_message] %>
<% end %>
<% if flash[:comments].any? %>
<% flash[:comments].each do |comment| %>
<li><h3><%= comment.message %> </h3> comment by: <%= comment.user.username %></li>
  <% end %>
<% end %>
</ul>

<p>Sold by: <%= link_to flash[:user].username, user_path(flash[:user].id) %></p>
