<div class="center jumbotron">
  <h1>Welcome to Slope-Side-Sale!</h1>

<h3><%= @listing.title %></h3>
<p><%= @listing.description %></p><br>

<%= form_tag "/add_to_cart" do %>
<% text_field_tag value = @listing.id %>
<%= submit_tag "Add to Cart"%>
<% end %><br>
<%= form_tag new_comment_path do %>
<%= label_tag :message %>
<%= text_area_tag :message %>
<%= submit_tag "Submit comment" %>
<% end %>
<%= link_to "Return to Listings", listings_path %>
</div>
<h2>Comments:</h2>
<ul>


<% flash[:comments].each do |comment| %>
<li><%= comment.message %></li>
<% end %>
</ul>

<p>Sold by: <%= link_to flash[:user].username, user_path(flash[:user].id) %></p>
