<<<<<<< HEAD
<h1>Hello <%= @user.user_name %></h1>
User Name:<%= @user.user_name %>
<p> User Rating: <%= @user.rating_id %></p>
<h2>Checkout the Listings?</h2>
<%= link_to "listings", listings_path %>
=======
<h1>User Profile:</h1>
<p> User Name: <%= @user.username %></p>
<p> User Rating: <%= @user.rating_id %></p>
<p>Password: *******</p>
<%= link_to 'Edit Password', edit_user_path %>
>>>>>>> 79c23ba6f0e786852e4d247ae0b4a1bc0ed0c197
