<h2>Shopping Cart: </h2>
<br><br>

<ul>
  <% @listings.each do |listing| %>
    <li>
       <h3>Item(s):</h3>
			<p><%= listing.title %></p>
      <br>
      <h3>Description: </h3>
		<p>	<%= listing.description %></p>
    </li>
    <%= button_to "Destroy Cart",{ action: "destroy", id: listing.id }, method: :delete, data: {confirm: "Are you sure?"} %>
    <br>
  <% end %>
</ul>


<%= link_to "Continue Shopping", listings_path %>

<%= button_to "Checkout", users_cart_path(@cart), {method: :get} %>
